﻿<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/Lib/AngularScripts")

    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body class="elements">
    <header>
       
    </header>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    
    @Styles.Render("~/Lib/KickStartStyles")
    @Scripts.Render("~/Lib/KickStartScripts")
    @Scripts.Render("~/Scripts/Registration")
</body>
</html>
