﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="div.Container" ng-app="registration" class="grid"  ng-controller="registrationController" ng-init="initialize();">

    <div id="div.leftColumn" class="col_4 column"></div>
    
    <div id="div.registrationFieldset" class="col_4 column">

        <fieldset id="fieldSet.registration">

            <legend>Register Now!</legend>

            <div id="div.registrationForm">

                <form class="vertical" id="form_UserRegistration" name="form_UserRegistration">
                    <label for="input.userName">User Name</label>
                    <input type="text" id="input.userName" required ng-model="user.userName" />

                    <label for="input.emailAddress">Email Address</label>
                    <input type="email" id="input.emailAddress" required ng-model="user.emailAddress"/>
                    <div class="notice warning" ng-show="emailInUse == true">
                        <i class="icon-warning-sign icon-large"></i> {{warningMessage}}
                    </div>

                    <label for="input.password">Password</label>
                    <input type="password" id="input.password" required ng-model="user.password"/>

                    <label for="input.passwordConfirm">Confirm Password</label>
                    <input type="password" id="input.passwordConfirm" required ng-model="user.passwordConfirm"/>
                    <div class="notice warning" ng-show="passwordsMatch == false">
                        <i class="icon-warning-sign icon-large"></i> Passwords must match
                    </div>

                    <label for="input.companyName">Company Name</label>
                    <input type="text" id="input.companyName" required ng-model="user.companyName"/>

                    <button class="blue button" ng-click="submitRegistration();" ng-disabled="form_UserRegistration.$invalid">Submit Registration</button>
                </form>

            </div>
            
        </fieldset>
        <div class="notice error" ng-show="errorMessage != ''">
            <i class="icon-warning-sign icon-large"></i> {{errorMessage}}
        </div>
    </div>
    
    <div id="div.rightColumn" class="col_4 column"></div>
    
    

</div>
